[Unit]
Description=Toggle InputPlumber keyboard when USB/BT HID is present
# After steamos-manager: it resets InputPlumber targets when it starts.
After=inputplumber.service steamos-manager.service
Wants=inputplumber.service

[Service]
Type=oneshot
ExecStart=/usr/lib/steamos/sm8550-inputplumber-ext-hid
Nice=5

[Install]
WantedBy=multi-user.target
